.header {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    @include centerDivOnDesktop;

    @include respond(small-desktop){
        padding: 2rem;
    }

    &__logo {
        margin: auto 0;
        &--image {
            height: 4.2rem;
            width: 12.6rem;
            cursor: pointer;
        }
    }
    &__buttons {
        display: flex;
        align-items: stretch;
        &--button {
            & svg {
                margin-right: 1rem;
            }
        }
    }
    
    @include respond(small-desktop) {
        padding: 2rem;
    }
    @include respond(tab-port) {
        padding: 1rem 2rem;
    }
    
}
