.accountproductitem {
    display: flex;
    padding: 2rem;
    border: 1px solid $color-light-4;
    border-radius: 10px; 

    @include respond (tab-port){
        padding: 1rem;
        flex-wrap: wrap;
    }
    &__imagediv{
        padding: .2rem 2rem;
        @include respond (tab-port) {
            padding: .2rem;
            padding: .2rem 2rem .2rem 0rem;
        }
        &--image{
            height: 8.4rem;
            width: auto;
        }
    }
    &__contentdiv{ 
        padding: .2rem 2rem;
        margin: 0 auto 0 0;
        display: flex;
        flex-direction: column;
        @include respond (tab-port) {
            padding: .2rem;
            margin: 0
        }
        &--title{
            text-align: start;
        }
        &--offer{
            padding: 1rem 1.5rem;
            background-color: $color-light-4;
            border-radius: 10px;
            padding-right: 5rem;
            margin: 1rem 0;
            & h5 {
                color: $color-dark-3;
                & strong {
                    color: $color-dark-1;
                }
            }
        }
        &--nooffer{
            margin: .5rem 0;
        }
    }
    &__buttondiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond (tab-port) {
            margin: 0 0 0 auto;
        }
        &--button{
            @include respond (tab-port) {
                min-width: 30vw;
                justify-content: center;
            }
        }
    }
}