.formtextinput {
    margin: 1rem 0;

    &__label {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        display: block;
    }

    &__textarea {
        height: 10rem;
        resize: none;
    }

    &__input, &__textarea {
        display: block;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: $color-light-3;
        padding: 1rem;
        margin: 0.2rem 0;
        color: $color-dark-1;
        width: 100%;
        border: 1px solid $color-light-3;
        transition: all 0.4s;
        font-family: inherit;

        &:focus {
            color: $color-dark-1;
            background-color: $color-blue-2;
            border: 1px solid $color-blue-1;
        }
        &--error{
            background-color: $color-red-2;
            color: $color-red-1;
        }
        &--priceLabel {
            width: 30%;
            min-width: 23rem;
            position: relative;
            height: 100%;
            @include respond(tab-port) {
                width: 100%;
                min-width: 0;
            }
            & input {
                padding-right: 3.5rem;
            }
            &::before {
                position:absolute;
                top:50%;
                right:0;
                transform: translateY(-50%);
                padding-right: 1rem;
                content: "TL";
                color:$color-dark-4;
                font-size: 1.4rem;
                font-family: inherit;
                font-weight: 400;
            }
        }
        &::placeholder{
            color: $color-dark-4;
        }
    }
}
