.formtextinput {
    margin: 1rem 0;

    &__label {
        margin-bottom: 0.2rem;
        font-size: 1.2rem;
        display: block;
    }
    &__input {
        display: block;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: $color-light-3;
        padding: 1rem;
        margin: 0.2rem 0;
        color: $color-dark-4;
        width: 100%;
        border: 1px solid $color-light-3;
        transition: all 0.4s;
        &:focus {
            color: $color-dark-1;
            background-color: $color-blue-2;
            border: 1px solid $color-blue-1;
        }
    }
}
