.pageoptions{
    margin: 0 4rem;
    padding: 1.2rem 0 1.2rem 0;
    position: relative;
    cursor: pointer;
    & p { 
        font-size: 1.5rem;
        color: #b1b1b1;
    }
    &--active{
        cursor: default;
        &::after {
            content:"";
            height: 2px;
            width: 100%;
            position: absolute;
            top:100%;
            left:0;
            border-bottom: 2px solid $color-blue-1;
        }
        & p {
            color:$color-blue-1;
            font-weight: 700;
        }
    }
}