$color-light-1: #FFFFFF;
$color-light-2: #FBFBFB;
$color-light-3: #F4F4F4;

$color-dark-1: #3E3E3E;
$color-dark-2: #525252;
$color-dark-3: #898989;
$color-dark-4: #99A0A7;

$color-blue-1: #4B9CE2;
$color-blue-2: #F0F8FF;

$color-red-1: #F77474;
$color-red-2: #FFE5E5;
$color-red-3: #FFF2F2;

$color-green-1: #46AF32;
$color-green-2: #F1FFF0;

$color-orange-1: #FAAD60;
$color-orange-2: #FFF0E2;