.addproductpage{
    min-height: 100vh;
    
    &__headerdiv {
        @include centerDivOnDesktop;
    }
    &__contentdiv {
        background-color: $color-light-4;
        padding: 2rem 0;
        height: 91vh;
        
    }
    &__content {
        background-color: $color-light-1;
        @include centerDivOnDesktop;
        padding: 1rem 4rem;
        display: flex;
        min-height: 81.2rem;
        &--detailsdiv, &--uploaddiv {
            margin: 2rem 0;
            width: 50%;
            &--title{
                text-align: start;
            }
        }
        &--detailsdiv {
            padding: 2rem 6rem 2rem 0rem;
            border-right: 2px solid $color-light-3;
        }
        &--uploaddiv {
            padding: 2rem 4rem;
        }
    }
}