.indexpage {
    &__header {
        max-width: 1448px;
        margin: auto;
    }
    &__content {
        background-color: $color-light-4;
        padding: 2rem;
    }
    &__bannerdiv {
        max-width: 1448px;
        margin: auto;

        &__image {
            width: 100%;
            height: auto;
        }
    }
    &__categorydiv {
        max-width: 1448px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        overflow: auto;

        @include respond(tab-port) {
            width: 100%;
            @include hideScrollBar;
        }
    }
    &__itemdiv {
        max-width: 1448px;
        justify-content: center;
        margin: auto;
        display: grid;
        grid-gap: 1.25rem;
        grid-template-columns: repeat(auto-fit, minmax(auto, 27.75rem));
        padding: 2rem 0 6rem 0;
       
    }
}
