.productdetailpage {
    min-height: 100vh;
    &__header {
        max-width: 1448px;
        margin: auto;
    }
    &__content {
        background-color: $color-light-4;
        padding: 2rem;
        @include respond(tab-port) {
            padding: 1rem;
        }
    }
    &__product {
        background-color: $color-light-1;
        max-width: 1448px;
        margin: auto;
        padding: 1rem;
        display: flex;
        border-radius: 10px;

        @include respond(tab-port){
            flex-direction:column;
        }

        &--imagediv {
            width: 70rem;
            height: 73.7rem;
            margin: 1rem;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            @include respond(tab-port) {
               width: 100%;
               height: auto;
               margin:0;
               padding:0;
            }
        }
        &--image {
            width: auto;
            height: 100%;
            border-radius: 10px;

            @include respond(tab-port) {
                width: 100%;
                height: auto;   
            }
        }
        &--infodiv {
            padding: 2rem;
            width: 50%;
            @include respond(tab-port) {
                width: 100%;
                padding: 1rem .5rem;
            }
        }
        &--titlediv {
            min-height: 4rem;
            &--title {
                text-align: start;
            }
        }
        &--detailsgrid {
            display: flex;
            flex-direction: column;
            min-height: 15rem;
            justify-content: space-around;
            max-width: 35rem;
            margin: 2rem 0 1rem 0;
            @include respond(tab-port) {
                min-height: 0;
            }
            &--row {
                display: flex;
                justify-content: space-between;
              
                & > div {
                    text-align: start;
                    width: 50%;
                }
                @include respond(tab-port) {
                    margin: .5rem 0;
                }
            }
        }
        &--detailsdiv {
            &--details {
                width: 100%;
                min-height: 1rem;
                text-align: start;
            }
        }
        &--pricediv {
            margin: 2rem 0;
            &--price{
            text-align: start;
            }
        }
        &--buttonsdiv {
            display: flex;
            justify-content: flex-start;
            margin: 4rem 0;
            @include respond(tab-port) {
                margin: 2rem 0;
            }
            &--button{
                margin: 0 1rem 0 0;
                padding: 1.25rem 2rem;
                width: 50%;
                justify-content: center;
                @include respond(tab-port) {
                    margin: 0 1rem 0 0;
                    padding: 1.25rem 4rem;
                    width: 50%;
                }
                &--sold{
                    cursor: default;
                    @include respond(tab-port) {
                        width: 100%;
                        justify-content: center;
                    }
                }
            }
        }
        &--detailsdiv {
            &--detail {
                text-align: start;
                margin: 1.5rem 0;
            }
        }
    }
}
