.productdetailpage {
    min-height: 100vh;
    &__header {
        max-width: 1448px;
        margin: auto;
    }
    &__content {
        background-color: $color-light-4;
        padding: 2rem;
    }
    &__product {
        background-color: $color-light-1;
        max-width: 1448px;
        margin: auto;
        padding: 1rem;
        display: flex;
        &--imagediv {
            width: 70rem;
            height: 73.7rem;
            margin: 1rem;
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }
        &--image {
            width: auto;
            height: 100%;
            border-radius: 10px;
        }
        &--infodiv {
            padding: 2rem;
            width: 50%;
        }
        &--titlediv {
            min-height: 4rem;
            &--title {
                text-align: start;
            }
        }
        &--detailsgrid {
            display: flex;
            flex-direction: column;
            min-height: 15rem;
            justify-content: space-around;
            max-width: 35rem;
            margin: 2rem 0 1rem 0;
            &--row {
                display: flex;
                justify-content: space-between;
                & > div {
                    text-align: start;
                    width: 50%;
                }
            }
        }
        &--detailsdiv {
            &--details {
                width: 100%;
                min-height: 1rem;
                text-align: start;
            }
        }
        &--pricediv {
            margin: 1rem 0;
            &--price{
            text-align: start;
            }
        }
        &--buttonsdiv {
            display: flex;
            justify-content: flex-start;
            
        }
    }
}
