.dialogbox {
    visibility:hidden;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color-blue-1 ,0.7);
    z-index: 1;
    &--open{
        visibility: visible;
    }
    &__content {
        min-height: 15rem;
        min-width: 40rem;
        @include respond(phone){
            min-width: 10rem;
            width: 90%;
        }
        background-color: $color-light-1;
        border-radius: 15px;
        padding: 2rem;
    }
    &__loader {
        height: 5rem;
        width: 5rem;
        padding: 2rem;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
}

.pointer {
    &__cursor{
        cursor: pointer;
    }
}

.margin {
    &__left{
        margin-left: .5rem;
    }
}